.carousel-item img {
  width:100vw; /* Full width */
  height: 75vh; /* Full height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
}

.carousel-caption {
  left: 5%; /* Move text to left */
  bottom: 0%; /* Adjust vertical position */
}

.btn-danger:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
